@model FormViewModel
@{
    ViewData["Title"] = "Index";
}
<form asp-action="imageUploadAsync" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="lead" asp-for="imageUpload">Upload your Logo</label>
        <input type="file" asp-for="imageUpload" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary lead">Upload</button>
    </div>
</form>
